h3
{
	font-family: "Quicksand";
	font-weight: bold;
	color: #333;
}

p
{
	font-family: "Crimson Text";
	font-size: 1.3rem;
	color: #444;
}

.bgEstatico 
{
	background: url('https://s-media-cache-ak0.pinimg.com/originals/05/50/40/055040f03d460d15d5120750929b0d4c.jpg');
	background-repeat: no-repeat;
	background-position: top;
	background-attachment: fixed;
	background-size: cover;
	margin: 40px 0px;
    height: 400px;  
}

header
{
	padding: 20px 0px !important; 
	margin-bottom: 2rem;
	background: url('https://images6.alphacoders.com/353/thumb-1920-353272.jpg');
}

#conteudo
{
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.cabecalho
{
	background-color: #3E423A;
	color: #F4F7D9;
}

.titulos
{
	text-align: center;
	margin-bottom: 3rem;
}

.titulos h1
{
	font-size: 32px;
	font-weight: bold;
}

.titulos h2
{
	font-size: 20px;
}

.menu
{
	background-color: #5a677a;
	padding: 10px 0px;
	margin-bottom: 0px;
	margin-top: 20px;
	text-align: center;
	font-family: 'Arvo', serif;
}

.menu > li
{
	padding: 0rem 0.5rem;
}

.menu a
{
	color: inherit;
}

.texto-apresentacao
{
	text-align: center;
}

.texto-apresentacao h3
{
	margin-bottom: 1rem;
}

.frase-apresentacao
{
	font-style: italic;
}

.frase-apresentacao-autor
{
	text-align: right;
	padding-right: 1.5rem; 
}


.rodape
{
	color: white;
	padding: 20px 0px;
	background-color: #5A677A;
}

.rodape p
{
	margin: 0px;
	
}

.img-height
{
	height: 150px;
	width: 100%;
	object-fit: cover;
}

.card-container
{
	margin-bottom: 20px;
}

.card-block h3
{
	font-size: 20px;
}


.perfil-divisoria
{
	margin-bottom: 0.5rem;
}



/* ############     Menu Lateral     ############ */

.menu-lateral li
{
	font-size: 1.2rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.submenu-lateral 
{
	padding-left: 1rem;
}

.submenu-lateral li
{
	font-size: 1rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.menu-lateral .menu-lateral-link a
{
    color: #555;
}

.submenu-lateral .menu-lateral-link a
{
    color: #777;
}


.menu-lateral-link a:focus
{
    font-weight: bold;
    text-decoration: none;
}

.menu-lateral-link a:hover
{
    color: #444;
    text-decoration: none;
}


/* ############     Conteudo Geral     ############ */

.conteudo-titulo
{
	font-size: 1.75rem;
	margin-bottom: 1.2rem;
	color: #444;
}

.conteudo-subtitulo
{
	font-size: 1.3rem;
	margin-bottom: 1.2rem;
	color: #444;
}

.conteudo-lista
{
    font-family: "Crimson Text";
	font-size: 1.1rem;
	color: #444;
}

.artigo
{
	margin-bottom: 3rem;
}

.artigo-titulo h4
{
	font-size: 1.3rem;
	color: #444;
}

/* ############     Perfil     ##############*/
.nome-perfil
{
	font-size: 1.3rem;
	margin-bottom: 0px;
}

.subtitulo-perfil
{
	font-size: 1.2rem;
	font-style: italic;
}